.box{
	width: 300px;
	height: 300px;
	border: 2px solid red;
	
}
.card{
	border-radius: 15px;
	color: white;
	background-color: #121212;
}

.AddCard{
	box-shadow: rgba(0, 255, 171, 0.7)0px 7px 29px 0px;
	// box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}