.box{
	width: 300px;
	height: 300px;
	border: 2px solid red;
	
}
.card{
	border-radius: 20px;
	color: white;
	background-color: #121212;
}

.AddCard{
	box-shadow: rgba(0, 255, 171, 0.7)0px 7px 29px 0px;
}

button{
	background-color: rgb(30, 41, 59);
}
