@import './index.css';
@import "tailwindcss";

/* Black
background: #121212; */

/* Blue
background: #1E293B; */

/* Green */
/* background: #00FFAB; */

/* Purple */
/* background: #6D28D9; */


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.side-container{
	width: 5%;
}
.Dashboard-container{
	width: 95%;
}
.side-container:hover{
	width: 20%;
	transition: ease-in 0.5s;
	.Dashboard-container{
		width: 80%;
	}
}
